<!DOCTYPE html>
<html>
<body>

<h4 class="mb-3">Enter your full name to creat a wallet</h4>

<br>
<form action="/CreateWallet" method="POST">
    <button>Create wallet</button>
    </form>
<form action="/getWallet" method="GET">
    <button>Get wallet</button>
    </form>
<form action="/Wallets" method="GET">
    <button>Get all wallets</button>
</form>
<form action="/changeWallet" method="POST">
    <button>Change wallet</button>
</form>
<form action="/deleteWallet" method="DELETE">
    <button>Change wallet</button>
</form>
<form action="/updateWallet" method="PUT">
    <button>Update wallet</button>
</form>
<form action="/deposit" method="POST">
    <button>Deposit wallet</button>
</form>
<form action="/withdraw" method="POST">
    <button>Withdraw money</button>
</form>
<form action="/transfer" method="POST">
    <button>Transfer money</button>
</form>
<form action="/stats/wallet" method="Get">
    <button>Get all wallets</button>
</form>

<br>
</body>